main[data-type='git-view'] #pull {
  display: none !important;
}

main[data-type='git-view'] #unstage-all {
  display: none !important;
}

main[data-type='git-view'] #backup-btn {
  display: none !important;
}

